{% extends 'base.html'%}
{%block body%}
<form method="POST">
    {{form.csrf_token}}

    <div class="mb-3">
        <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
          {{form.first_name}}
        </div>
    </div>
    <div class="mb-3">
        <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          {{form.last_name}}
        </div>
    </div>
    <div class="mb-3">
        <label for="birthdate" class="col-sm-2 col-form-label">Birthdate</label>
        <div class="col-sm-10">
          {{form.birthdate}}
        </div>
    </div>
    <div class="mb-3">
        <label for="teacher_in_group_Id" class="col-sm-2 col-form-label">Teacher group</label>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Group Of Teacher
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {%for group in group_of_teachers:%}
              <li><a class="dropdown-item" href="#">{{group.title}}</a></li>
            {%endfor%}
          </ul>
        </div>
        <table class="table">
          <thead>
              <tr>
                  <td scope="col">Group Of Teachers ID</td>
                  <td scope="col">Title</td>
                  <td scope="col">Description</td>
                  <td scope="col">Subject</td>
                  <td scope="col">Department Manager ID</td>
              </tr>
          </thead>
          <tbody>
            
              {%for group in group_of_teachers:%}
                  <tr>
                      <td>{{group.group_of_teachers_Id}}</td>
                      <td>{{group.title}}</td>
                      <td>{{group.description}}</td>
                      <td>{{group.subject}}</td>
                      <td>{{group.departmentManager_Id}}</td>
                  </tr>
              {%endfor%}
          </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
{%endblock%}