{% extends 'base.html'%}

{%block body%}
<h1>Edit Teacher</h1>

<form method="POST" action="/teachers/edit">
    {{form.csrf_token}}
    
    {{form.teacher_Id()}}
    <!--title-->
    <!--description-->
    <!--dueDate-->
    <!--isDone-->
    <div class="mb-3">
        <label for="title" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
                {{form.first_name(class_="form-control")}}
        </div>
    </div>
    <div class="mb-3">
        <label for="descriptiopn" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
                {{form.last_name(class_="form-control")}}
        </div>
    </div>
    <div class="mb-3">
        <label for="dueDate" class="col-sm-2 col-form-label">Birthdate</label>
        <div class="col-sm-10">
                {{form.birthdate(class_="form-control")}}
        </div>
    </div>
    <a onclick="window.location.href='/teacher_in_group'" class="btn btn-outline-success">Manage Teacher Groups</a>

    <table class="table">
        <thead>
            <tr>
                <td scope="col">Group Of Teachers ID</td>
                <td scope="col">Group of Teachers Title</td>
                <td scope="col">Description</td>
                <td scope="col">Subject</td>
                <td scope="col">Department Manager ID</td>
            </tr>
        </thead>
        <tbody>
          
            {%for group in group_of_teachers:%}
                <tr>
                    <td>{{group.group_of_teachers_Id}}</td>
                    <td>{{group.title}}</td>
                    <td>{{group.description}}</td>
                    <td>{{group.subject}}</td>
                    <td>{{group.department_manager.first_name}} {{group.department_manager.last_name}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{%endblock%}