{% extends 'base.html'%}

  
{%block body%}

<input type="checkbox" id="active">
      <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
      <div class="wrapper">
        <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/teachers'>Teachers</a></li>
        <li><a href='/department_managers'>Department Manager</a></li>
        <li><a href='/groupOfTeachers'>Group Of Teachers</a></li>
        <li><a href='/teacher_in_group'>Teacher In Group</a></li>
        </ul>
        </div>


<h1>Teachers</h1>


<table class="table">
    <thead>
        <tr>
            <td scope="col">Teacher ID</td>
            <td scope="col">First Name</td>
            <td scope="col">Last Name</td>
            <td scope="col">Birthdate</td>
            <td scope="col">Teacher group</td>
            <td scope="col">Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan = "6" style="text-align:center">
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/teachers/add'">Add Teacher</button>
                </div>
            </td>
        </tr>
        {%for teacher in teachers:%}
            <tr>
                <td>{{teacher.teacher_Id}}</td>
                <td>{{teacher.first_name}}</td>
                <td>{{teacher.last_name}}</td>
                <td>{{teacher.birthdate}}</td>
                <td>{{teacher.teacher_in_group_Id}}</td>
                <td><form method="post" action="/teachers/delete">
                    {{form.csrf_token}}
                    <input type="hidden" name="teacher_Id" id="teacher_Id" value="{{teacher.teacher_Id}}">
                        <button class="btn btn-outline-dark " onclick="delete_teacher(this); return false;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                      </svg></button> 
                </form>
                    <button class="btn btn-outline-dark" onclick="window.location.href='/teachers/edit?teacher_Id={{teacher.teacher_Id}}'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg></button>
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}