{% extends 'base.html'%}
{%block body%}
<form method="POST">
    {{form.csrf_token}}

    <div class="mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          {{form.title}}
        </div>
    </div>
    <div class="mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          {{form.description}}
        </div>
    </div>
    <div class="mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Subject</label>
        <div class="col-sm-10">
          {{form.subject}}
        </div>
    </div>
    <div class="mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Teacher group</label>
        <div class="col-sm-10">
          {{form.teacher_in_group_Id}}
        </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Department Manager
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {%for manager in department_managers:%}
          <li><a class="dropdown-item" href="#">{{manager.first_name}}</a></li>
        {%endfor%}
      </ul>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>
{%endblock%}