{% extends 'base.html'%}

{%block body%}
<h1>Group Of Teachers</h1>

<table class="table">
    <thead>
        <tr>
            <td scope="col">Group Of Teachers ID</td>
            <td scope="col">Title</td>
            <td scope="col">Description</td>
            <td scope="col">Subject</td>
            <td scope="col">Teacher in Group ID</td>
            <td scope="col">Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan = "6" style="text-align:center">
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/groupOfTeachers/add'">Add Group Of Teachers</button>
                </div>
            </td>
        </tr>
        {%for group in group_of_teachers:%}
            <tr>
                <td>{{group.group_of_teachers_Id}}</td>
                <td>{{group.title}}</td>
                <td>{{group.description}}</td>
                <td>{{group.subject}}</td>
                <td>{{group.teacher_in_group_Id}}</td>
                <td><form method="post" action="/groupOfTeachers/delete">
                    {{form.csrf_token}}
                    <input type="hidden" name="group_of_teachers_Id" id="group_of_teachers_Id" value="{{group.group_of_teachers_Id}}">
                        <button class="btn btn-outline-dark" onclick="delete_group_of_teachers(this); return false;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                      </svg></button> 
                </form></td>
            </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}