{% extends 'base.html'%}

{%block body%}

<h1>School Database</h1>

<button onclick="window.location.href='/teachers'" type="button" class="btn btn-primary">Teachers</button>
<button onclick="window.location.href='/department_managers'" type="button" class="btn btn-primary">Department Managers</button>
<button onclick="window.location.href='/groupOfTeachers'" type="button" class="btn btn-primary">Group Of Teachers</button>
<button onclick="window.location.href='/teacher_in_group'" type="button" class="btn btn-primary">Teacher In Group</button>

{%endblock%}

